* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-main: #464646;
    --bg-card: #2D2727;
    --border-color: #efc745;
}

html, body {
    width: 100vw;
    height: 100vh;
    overflow: hidden; 
    background-color: var(--bg-main);
    font-family: "Lexend Deca Light", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    padding: 2vh;
}


h1 {
    color: #fff;
    font-size: clamp(1.5rem, 4vw, 3rem);
    text-align: center;
}

span {
    color: var(--border-color);
}


#card-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1vh;
    width: calc(min(90vw, 90vh * (4 / 3))); 
    height: calc(min(90vh, 90vw * (3 / 4))); 
}


.card {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1; 
    transition: all 0.4s linear;
    transform-style: preserve-3d;
}

.card,
.front-card,
.back-card {
    width: 100%;
    height: 100%;
}

.front-card,
.back-card {
    position: absolute;
    backface-visibility: hidden;
    border-radius: 0.6rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1rem;
}

.front-card {
    background-color: var(--border-color);
}

.back-card {
    transform: rotateY(180deg);
}

.card_selected {
    transform: rotateY(180deg);
}

.card_match .front-card {
    background-color: var(--bg-card);
}
